* {
  margin: 0px;
  padding: 0px;
}

/*COMIENZO INICIO*/
header {
  background-color: black;
}

.logo {
  padding: 10px;
  color: #e2a706;
  letter-spacing: 8px;
  font-size: 35px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0px;
}

ul li {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 8px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

ul li a {
  text-decoration: none;
  color: aliceblue;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

ul li a:hover {
  color: #e2a706;
}

body {
  text-align: center;
  width: 100%;
}

.h1-index {
  letter-spacing: 5px;
  color: #e2a706;
}

.main-index {
  font-family: "Style Script", cursive;
  font-size: 23px;
  letter-spacing: 3px;
  background-color: black;
  color: aliceblue;
}

.parallax-1 {
  width: 100%;
  height: 100vh;
  background-image: url(imagenes/pexels-maria-bortolotto-6373940.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.parallax-2 {
  width: 100%;
  height: 100vh;
  background-image: url(imagenes/pikwizard-chef-pouring-olive-oil-on-meal.jfif);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  background-color: black;
  color: aliceblue;
}

/* FIN INICIO */
/*COMIENZO DE CARTA*/
.main-carta {
  width: 100%;
  height: 100%;
}

.h2m {
  font-family: "Style Script", cursive;
  margin-top: 50px;
  font-size: 50px;
  font-weight: 1;
}

.fondo-carta {
  width: 100%;
  height: 100%;
}

.fondo-carta img {
  width: 55%;
}

/*FIN DE CARTA*/
/*COMIENZO RESERVAS*/
.carousel-inner img {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.h2-reserva {
  font-family: "Style Script", cursive;
  font-size: 30px;
  margin-bottom: 50px;
}

.h3-reserva {
  font-family: "Style Script", cursive;
  font-size: 30px;
  margin: 50px 50px;
}

.h4-reserva {
  font-family: "Style Script", cursive;
  font-size: 30px;
  margin: 50px;
}

.p2r {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: inherit;
  margin: 50px 50px;
}

.p3r {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: inherit;
}

.p4r {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: inherit;
  margin-bottom: 50px;
}

.p5r {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: inherit;
  margin-bottom: 10px;
}

/*FIN DE RESERVAS*/
/*COMIENZO DE GALERIA*/
.div-linea {
  margin: 0px 140px 0px 140px;
}

.h1g {
  font-family: "Style Script", cursive;
  text-align: center;
  margin: 40px 0px 10px 0px;
  font-weight: 1;
  font-size: 60px;
  border-bottom: 1px solid #777673;
  padding-bottom: 50px;
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0% 5% 0% 5%;
  gap: 2% 5%;
}

.foto-galeria img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 3px 10px 0px #e2a706;
          box-shadow: 3px 3px 10px 0px #e2a706;
}

/*FIN DE GALERIA*/
/*COMIENZO DE CONTACTOS*/
.contactar-texto {
  width: 800px;
  margin: auto;
}

.h1c {
  padding-right: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: #202126;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-top: 70px;
}

.p1c {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-top: 70px;
}

.form-contacto {
  width: 800px;
  margin: auto;
}

.contactar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

input,
textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  border: none;
  resize: none;
  border-bottom: 2px solid;
  margin-top: 70px;
  margin-bottom: 15px;
}

input:focus,
textarea:focus {
  outline: none;
  color: #e2a706;
  -webkit-transition: 1s;
  transition: 1s;
}

.boton2, .boton {
  margin: auto;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
  background: #020202;
  color: #e2a706;
  letter-spacing: 3px;
}

/*FIN DE CONTACTOS*/
/*COMIENZO FOOTER*/
footer {
  background: #e2a706;
  background: linear-gradient(223deg, #0f0f0f 0%, #0f0f0f 50%, #e2a706 100%);
  width: 100%;
  height: 220px;
}

.f-logo {
  display: block;
  padding: 10px;
  color: #e2a706;
  letter-spacing: 8px;
  font-size: 35px;
  text-align: center;
}

.f-social img {
  display: inline-block;
  height: 40px;
  width: auto;
  padding: 15px;
  margin-top: 25px;
}

.foo-social img {
  display: inline-block;
  height: 70px;
  width: auto;
  padding: 15px;
  margin-top: 25px;
}

.footer-copy {
  display: inline-block;
}

/*FIN FOOTER*/
@media only screen and (min-width: 300px) and (max-width: 457px) {
  /*INICIO NAV*/
  ul {
    list-style: none;
    text-align: center;
    margin-bottom: 0px;
  }
  ul li {
    display: block;
  }
  ul li:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  ul li a:hover {
    color: #e2a706;
  }
  /*FIN NAV*/
  /*COMIENZO DE CARTA*/
  .fondo-carta {
    width: 100%;
    height: 100%;
  }
  .fondo-carta img {
    width: 100%;
  }
  /*FIN DE CARTA*/
  /*COMIENZO DE CONTACTOS*/
  .contactar-texto {
    width: 70%;
    margin: auto;
  }
  .h1c {
    padding-right: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #202126;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-top: 70px;
  }
  .p1c {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 70px;
  }
  .form-contacto {
    width: 100%;
    margin: auto;
  }
  .contactar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  input,
  textarea {
    width: 100%;
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    border: none;
    resize: none;
    border-bottom: 2px solid;
    margin-top: 70px;
    margin-bottom: 15px;
  }
  input:focus,
  textarea:focus {
    outline: none;
    color: #e2a706;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

/*FIN DE CONTACTOS*/
@media only screen and (min-width: 458px) and (max-width: 801px) {
  /*INICIO NAV*/
  ul {
    list-style: none;
    text-align: center;
    margin-bottom: 0px;
  }
  ul li {
    display: inline-block;
  }
  ul li:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  ul li a:hover {
    color: #e2a706;
  }
  /*FIN NAV*/
  /*COMIENZO DE CARTA*/
  .fondo-carta {
    width: 100%;
    height: 100%;
  }
  .fondo-carta img {
    width: 100%;
  }
  /*FIN DE CARTA*/
  /*COMIENZO DE CONTACTOS*/
  .contactar-texto {
    width: 80%;
    margin: auto;
  }
  .p1c {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 70px;
  }
  .form-contacto {
    width: 100%;
    margin: auto;
  }
}

/*FIN DE CONTACTOS*/
/*# sourceMappingURL=stylee.css.map */